body {
  background: #261F27;
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

header {
  background: #C9313D;
  height: 75px;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px; }

h1 {
  color: #FEE169;
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px; }

article {
  width: 30%;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-left: 2.3%; }

p {
  color: #FEE169;
  text-align: center;
  margin: 0;
  padding: 10px; }

img {
  width: 90%;
  margin-left: 5%; }

h2 {
  color: #C9313D;
  font-size: 32px;
  text-align: center; }
